footer > .container-fluid {
  @media (max-width: 576px) {
    margin: 0 1rem;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    margin: 0 2rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    margin: 0 4rem;
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    margin: 0 6rem;
  }

  @media (min-width: 1400px) {
    margin: 0 8rem;
  }
}
