footer > .container-fluid {
  @media (min-width: 992px) {
    margin: 0 10rem;
  }

  @media (max-width: 992px) {
    margin: 0 3rem;
  }

  @media (max-width: 576px) {
    margin: 0 1rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    margin: 0 5rem;
  }
}
