// Icon styles
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.icon-filled {
  &.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24 !important;
  }
}

// Image sizes

.home-img img {
  height: 48rem;
}

.short-about img {
  width: 90%;
  height: 100%;
}

.partner > div > div > div:first-child > img {
  @media (max-width: 992px) {
    width: 100%;
  }

  @media (min-width: 992px) {
    width: 100%;
  }

  @media (min-width: 1200px) {
    width: 80%;
  }
}

.footer-logo {
  @media (max-width: 576px) {
    width: 90%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 576px) and (max-width: 992px) {
    width: 75%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    width: 60%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 1200px) and (max-width: 1600px) {
    width: 45%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 1600px) {
    width: 35%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.welcome-about img {
  width: 100%;
  height: auto;
  aspect-ratio: 376 / 251;
}

// Icon sizes

.icon-speed,
.icon-support,
.icon-chart,
.icon-shield,
.icon-public {
  font-size: 4rem;
}

.icon-cloud,
.icon-server,
.icon-hard-drive,
.icon-dns,
.icon-database {
  font-size: 3.5rem;
}

// Responsive image sizes

@media (max-width: 576px) {
  .short-about img {
    width: 100%;
  }
}

// mobile landscape styling

@media (min-width: 576px) and (max-width: 768px) {
}

// tablet styling

@media (min-width: 768px) and (max-width: 992px) {
}

// tablet landscape styling

@media (min-width: 992px) and (max-width: 1200px) {
}

// Desktop responsive styling

@media (min-width: 1400px) {
}
