// ICON SIZES

.icon-speed,
.icon-support,
.icon-chart,
.icon-shield-lock,
.icon-globe {
  width: 3.7rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

.icon-cloud,
.icon-servers,
.icon-server-plus,
.icon-colocation,
.icon-database {
  width: 3.3rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

.icon-contact-card,
.icon-sales,
.icon-support-agent,
.icon-receipt,
.icon-office {
  width: 3.5rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

// IMAGE SIZES

// --- HOME PAGE IMAGES ---

// WELCOME SECTION

.home-img img {
  height: 73vh;
}

// PARTNER SECTION

.partner img {
  @media (min-width: 1200px) {
    width: 90% !important;
  }
}

// HOSTING PARTNER SECTION

.hosting-partner img {
  @media (min-width: 576px) and (max-width: 992px) {
    width: 100% !important;
  }

  @media (min-width: 1200px) {
    width: 80% !important;
  }
}

// --- ABOUT US PAGE ---

// WELCOME SECTION

.welcome-about img {
  width: 100%;
}

// --- NAVBAR ---

.nav-logo {
  width: 2.5rem;
}

// --- FOOTER ---

.footer-logo {
  @media (max-width: 576px) {
    width: 85% !important;
    height: auto;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    width: 45% !important;
    height: auto;
  }

  @media (min-width: 1200px) {
    width: 40% !important;
    height: auto;
  }

  width: 55%;
  max-width: 162px;
}
