// Image sizes

.home-img img {
  height: 48rem;
}

.short-about img {
  width: 90%;
  height: 100%;
}

.partner > div > div > div:first-child > img {
  @media (max-width: 992px) {
    width: 100%;
  }

  @media (min-width: 992px) {
    width: 100%;
  }

  @media (min-width: 1200px) {
    width: 80%;
  }
}

.footer-logo {
  @media (max-width: 576px) {
    width: 90%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 576px) and (max-width: 992px) {
    width: 75%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    width: 60%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 1200px) and (max-width: 1600px) {
    width: 45%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 1600px) {
    width: 35%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.welcome-about img {
  width: 100%;
  height: auto;
  aspect-ratio: 376 / 251;
}

// Icon sizes

.icon-speed,
.icon-support,
.icon-chart,
.icon-shield-lock,
.icon-globe {
  width: 4.5rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

.icon-cloud,
.icon-servers,
.icon-server-plus,
.icon-colocation,
.icon-database {
  width: 3.3rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

.icon-contact-card,
.icon-sales,
.icon-support-agent,
.icon-receipt,
.icon-office {
  width: 4.5rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

// Responsive image sizes

@media (max-width: 576px) {
  .short-about img {
    width: 100%;
  }
}

// mobile landscape styling

@media (min-width: 576px) and (max-width: 768px) {
}

// tablet styling

@media (min-width: 768px) and (max-width: 992px) {
}

// tablet landscape styling

@media (min-width: 992px) and (max-width: 1200px) {
}

// Desktop responsive styling

@media (min-width: 1400px) {
}
