// Icon sizes

.icon-speed,
.icon-support,
.icon-chart,
.icon-shield-lock,
.icon-globe {
  width: 3.8rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

.icon-cloud,
.icon-servers,
.icon-server-plus,
.icon-colocation,
.icon-database {
  width: 3.3rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

.icon-contact-card,
.icon-sales,
.icon-support-agent,
.icon-receipt,
.icon-office {
  width: 4.5rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

// Image sizes

.home-img img {
  height: 73vh;
}

.short-about img {
  @media (max-width: 576px) {
    width: 100% !important;
    height: auto;
    aspect-ratio: 6 / 4;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    width: 100% !important;
    height: auto;
    aspect-ratio: 6 / 4;
  }

  @media (min-width: 1200px) {
    width: 90% !important;
    height: auto;
    aspect-ratio: 6 / 4;
  }
}

.partner img {
  @media (max-width: 576px) {
    width: 100% !important;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    width: 100% !important;
  }

  @media (min-width: 1200px) {
    width: 80% !important;
  }
}

.footer-logo {
  @media (max-width: 576px) {
    width: 90% !important;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    width: 75% !important;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 1200px) {
    width: 45% !important;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  width: 60%;
}

.welcome-about img {
  width: 100%;
  height: auto;
  aspect-ratio: 376 / 251;
}
