// Colors
$primary: #4a90e2;
$secondary: #8ed6ff;
$success: #2ecc71;
$white: #ffffff;
$light: #f5f6fa;

// Fonts

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu Mono";
}

p,
a,
button,
.list-group-item {
  font-family: "Nunito" !important;
}

.fs-4 {
  font-weight: 600;
}

.fs-5 {
  font-weight: 600;
}

.btn:hover {
  color: black !important;
}

// Layout adjustments

// Short About section responsiveness

.short-about > .container-fluid {
  // Mobile
  @media (max-width: 576px) {
  }

  // Tablet
  @media (min-width: 768px) and (max-width: 992px) {
  }

  // Desktop
  @media (min-width: 1200px) {
  }
}

.short-about p {
  @media (min-width: 1200px) {
    margin-left: 1.6rem;
  }
}

// Why Choose Us section responsiveness

.why-us > .container-fluid {
  // Mobile
  @media (max-width: 576px) {
  }

  // Tablet
  @media (min-width: 768px) and (max-width: 992px) {
  }

  // Desktop
  @media (min-width: 1200px) {
  }
}

// Partner section responsiveness

.partner > .container-fluid {
  // Mobile
  @media (max-width: 576px) {
  }

  // Tablet
  @media (min-width: 768px) and (max-width: 992px) {
  }

  // Desktop
  @media (min-width: 1200px) {
  }
}

.partner > div > div > div:last-child {
  // Mobile
  @media (max-width: 576px) {
  }

  // Tablet
  @media (min-width: 768px) and (max-width: 992px) {
  }

  // Desktop
  @media (min-width: 1200px) {
  }
}

// Services section responsiveness

.services > .container-fluid {
  // Mobile
  @media (max-width: 576px) {
  }

  // Tablet
  @media (min-width: 768px) and (max-width: 992px) {
  }

  // Desktop
  @media (min-width: 1200px) {
  }
}

// Hosting Services section responsiveness

.hosting-services > .container-fluid {
  // Mobile
  @media (max-width: 576px) {
  }

  // Tablet
  @media (min-width: 768px) and (max-width: 992px) {
  }

  // Desktop
  @media (min-width: 1200px) {
  }
}

// Pricing Plans section responsiveness

.plans-pricing {
  min-height: calc(100vh - 82px - 223.45px);
}

.plans-pricing h1 {
  @media (min-width: 1200px) {
    font-size: 3rem;
  }
}

.plans-pricing > .container {
  // Mobile
  @media (max-width: 576px) {
  }

  // Tablet
  @media (min-width: 768px) and (max-width: 992px) {
  }

  // Desktop
  @media (min-width: 1200px) {
  }
}

// About Us section responsiveness

.welcome-about > .container {
  margin: 0 24rem;
}

// Contact Us section responsiveness

.cards-contact > .container-fluid {
  margin: 0 8rem;
}

.cards-contact .card-title {
  font-size: 2.2rem;
}

// Responsive styling

// mobile styling

@media (max-width: 576px) {
  .overlay > h1 {
    font-size: 2rem;
  }
}

// tablet styling

@media (min-width: 768px) and (max-width: 992px) {
}

// desktop styling

@media (min-width: 1200px) {
}

// Imports

@import "./icons.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
