// Colors
$primary: #4a90e2;
$secondary: #8ed6ff;
$success: #2ecc71;
$white: #ffffff;
$light: #f5f6fa;

// Fonts

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu Mono";
  font-weight: 700 !important;
}

p,
a,
.list-group-item {
  font-family: "Nunito" !important;
  font-weight: 500 !important;
}

.btn:hover {
  color: black !important;
}

// LAYOUT ADJUSTMENTS

// --- PRICING PAGE STYLING ---

// PRICING SECTION

.plans-pricing {
  @media (min-width: 1200px) {
    min-height: calc(100vh - 66px - 187.19px);
  }

  @media (min-width: 768px) and (max-width: 992px) {
    min-height: calc(100vh - 66px - 289.8px);
  }
}

// --- ABOUT US PAGE STYLING ---

// ABOUT US SECTION

.welcome-about > .container,
.services-about > .container,
.join-about > .container {
  @media (min-width: 1200px) {
    margin: 0 15rem;
  }
}

// Imports

@import "./icons.scss";
@import "./navbar.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
