// MOBILE NAVBAR STYLING

.btn-close {
  box-shadow: none !important;
}

.nav-home {
  @media (max-width: 991px) {
    color: var(--bs-secondary-color) !important;
  }

  @media (min-width: 1200px) {
    color: white !important;
  }
}
